<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- Set how to check system properties: as fallback, as override, or never. 
			The default is "fallback": If not being able to resolve a placeholder with 
			the specified properties, a system property will be tried. "override" will 
			check for a system property first, before trying the specified properties. 
			"never" will not check system properties at all. -->
		<!-- 系统属性总是优先, 即: JVM "-Dkey=value"方式设置的属性信息总是优先于在配置文件的设置. -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true"></property>

		<property name="locations">
			<list>
				<value>classpath:tuna-config.xml</value>
				<value>classpath:test/tuna-config.xml</value>
				<value>file:${user.home.dir}/tuna-config.xml</value>
			</list>
		</property>
	</bean>

	<bean id="jaasConfiguration" class="com.ibm.tivoli.tuna.config.XMLConfiguration">
		<constructor-arg>
			<value type="java.lang.String">
			<![CDATA[
				<list>
				  <!-- LDAP Login Module -->
          <loginContext>
            <name>LDAP-SIMPLE</name>
            <callbackHandlerClass>com.ibm.tivoli.tuna.jaas.NamePasswordCallbackHandler</callbackHandlerClass>
            <resultHandlerClass>com.ibm.tivoli.tuna.jaas.ldap.LdapAuthenticationResultHandler</resultHandlerClass>
            <loginModules>
              <loginModule>
                <loginModuleClass>com.ibm.tivoli.tuna.jaas.ldap.LdapLoginModule</loginModuleClass>
                <moduleFlag>REQUIRED</moduleFlag>
                <moduleOptions>
                  <moduleOption>
                    <name>debug</name>
                    <value>true</value>
                  </moduleOption>
                  <moduleOption>
                    <name>ldapDaoBeanName</name>
                    <value>ldapDaoService</value>
                  </moduleOption>
                </moduleOptions>
              </loginModule>
            </loginModules>
          </loginContext>
          
          <!-- LTPA Login Module -->
          <loginContext>
            <name>LTPA-CRED</name>
            <callbackHandlerClass>com.ibm.tivoli.tuna.module.ltpa.LtpaTokenCallbackHandler</callbackHandlerClass>
            <resultHandlerClass>com.ibm.tivoli.tuna.jaas.sample.SampleResultHandler</resultHandlerClass>
            <loginModules>
              <loginModule>
                <loginModuleClass>com.ibm.tivoli.tuna.module.ltpa.LTPALoginModule</loginModuleClass>
                <moduleFlag>REQUIRED</moduleFlag>
                <moduleOptions>
                  <moduleOption>
                    <name>debug</name>
                    <value>true</value>
                  </moduleOption>
                  <moduleOption>
                    <name>ltpa3DESKey</name>
                    <value>n348FEYD96hB0bjV6i2rX+21lDCvT5DQWFNxYMEpC10=</value>
                  </moduleOption>
                  <moduleOption>
                    <name>ltpaPassword</name>
                    <value>passw0rd</value>
                  </moduleOption>
                </moduleOptions>
              </loginModule>
            </loginModules>
          </loginContext>

          <!-- Sample Login Module -->
 				  <loginContext>
				    <name>SAMPLE</name>
            <callbackHandlerClass>com.ibm.tivoli.tuna.jaas.NamePasswordCallbackHandler</callbackHandlerClass>
            <resultHandlerClass>com.ibm.tivoli.tuna.jaas.sample.SampleResultHandler</resultHandlerClass>
				    <loginModules>
				      <loginModule>
				        <loginModuleClass>com.ibm.tivoli.tuna.jaas.sample.SampleLoginModule</loginModuleClass>
				        <moduleFlag>REQUIRED</moduleFlag>
				        <moduleOptions>
				          <moduleOption>
				            <name>debug</name>
				            <value>true</value>
				          </moduleOption>
				          <moduleOption>
				            <name>server</name>
				            <value>1.2.3.4</value>
				          </moduleOption>
				        </moduleOptions>
				      </loginModule>
				      <loginModule>
                <loginModuleClass>com.ibm.tivoli.tuna.jaas.sample.SampleLoginModule</loginModuleClass>
				        <moduleFlag>REQUIRED</moduleFlag>
				        <moduleOptions>
				          <moduleOption>
				            <name>debug</name>
				            <value>true</value>
				          </moduleOption>
				          <moduleOption>
				            <name>server</name>
				            <value>1.2.3.4</value>
				          </moduleOption>
				        </moduleOptions>
				      </loginModule>
				    </loginModules>
				  </loginContext>
				</list>
				]]>
			</value>
		</constructor-arg>
	</bean>

	<bean id="loginContextManager" class="com.ibm.tivoli.tuna.config.LoginContextManagerImpl">
		<property name="configuration" ref="jaasConfiguration"></property>
	</bean>

	<bean id="authenticationServiceBean" class="com.ibm.tivoli.tuna.service.AuthenticationServiceImpl">
		<property name="loginContextManager" ref="loginContextManager"></property>
	</bean>
</beans>

