<?xml version="1.0" encoding="UTF-8"?>

<!-- - Sample namespace-based configuration - -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <debug />

  <global-method-security pre-post-annotations="enabled">
    <expression-handler ref="expressionHandler" />
  </global-method-security>

  <http pattern="/static/**" security="none" />
  <http pattern="/loggedout.jsp" security="none" />

  <http use-expressions="true">
    <intercept-url pattern="/secure/extreme/**" access="hasRole('supervisor')" />
    <intercept-url pattern="/secure/**" access="isAuthenticated()" />
    <!-- Allow all other requests. In a real application you should adopt 
      a whitelisting approach where access is not allowed by default -->
    <intercept-url pattern="/**" access="permitAll" />
    <form-login />
    <logout logout-success-url="/loggedout.jsp" delete-cookies="JSESSIONID" />
    <remember-me />
    <!-- Uncomment to enable X509 client authentication support <x509 /> -->
    <!-- Uncomment to limit the number of sessions a user can have -->
    <session-management invalid-session-url="/timeout.jsp">
      <concurrency-control max-sessions="1"
        error-if-maximum-exceeded="true" />
    </session-management>

  </http>

  <!-- Usernames/Passwords are rod/koala dianne/emu scott/wombat peter/opal -->
  <beans:bean id="encoder"
    class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

  <!-- Added for SIAM extension -->

  <!-- Expression Handler -->
  <beans:bean id="expressionHandler"
    class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
    <beans:property name="permissionEvaluator" ref="permissionEvaluator" />
  </beans:bean>
  <beans:bean id="permissionEvaluator" class="com.sinopec.siam.im.security.PermissionEvaluatorWrapper">
     <beans:property name="permissionEvaluators">
       <beans:map>
         <beans:entry key="person.create">
           <beans:bean class="com.sinopec.siam.im.security.permission.PersonCreatePermissionEvaluator"></beans:bean>
         </beans:entry>
       </beans:map>
     </beans:property>
  </beans:bean>

  <!-- UserDetailService -->
  <beans:bean id="userDetailsService" class="com.sinopec.siam.im.security.SimpleAdminUserDetailsService"></beans:bean>
  <!-- AuthenticationManager -->
  <beans:bean id="simpleAuthenticationManager" class="com.sinopec.siam.im.security.SimpleAuthenticationProvider">
     <beans:property name="userDetailsService" ref="userDetailsService"></beans:property>
  </beans:bean>
  <authentication-manager alias="authenticationManager">
    <authentication-provider ref="simpleAuthenticationManager"></authentication-provider>
  </authentication-manager>

</beans:beans>
